<div class="panel panel-default">
    <div class="panel-heading">产品列表区块</div>
    <div class="panel-body">
        <form>
            <div class="form-group">
                <label class="label6">点击统计：</label>
                <input class="form-control"  ng-model="data.index.ticketList.tapLog">
            </div>
            <section ng-repeat="item in data.index.ticketList.list" class="border">

                <div class="form-group">
                    <label class="label6">标题图片链接：</label>
                    <input class="form-control"  ng-model="item.title">
                </div>
                <div class="form-group">
                    <label class="label6">城市代码：</label>
                    <input class="form-control"  ng-model="item.citycode">
                </div>
                <section ng-repeat="i in item.list" class="border">
                    <div class="form-group">
                        <label class="label6">scopeId：</label>
                        <input class="form-control"  ng-model="i.tid" placeholder="这个东西要去问问RD，闫老湿也不知道">
                    </div>
                    <div class="form-group">
                        <label class="label6">商品大图：</label>
                        <input class="form-control"  ng-model="i.banner">
                    </div>
                    <div class="form-group">
                        <label class="label6">主标题：</label>
                        <input class="form-control"  ng-model="i.title">
                    </div>
                    <div class="form-group">
                        <label class="label6">副标题：</label>
                        <textarea class="form-control"  ng-model="i.subtitle"></textarea>
                    </div>
                    <div class="form-group">
                        <label class="label6">价格：</label>
                        <input class="form-control"  ng-model="i.price">
                    </div>
                    <button class="btn btn-default" ng-click="removeProductRow($index, item.list)">删除</button>
                </section>
                <button class="btn btn-default" ng-click="addProductRow(item.list)">添加一行</button>
                <button class="btn btn-default" ng-click="removeItemRow($index)">删除</button>
            </section>
            <button class="btn btn-default" ng-click="addItemRow()">添加一行</button>
        </form>
    </div>
</div>
