<div class="panel panel-default">
    <div class="panel-heading">门票列表区块</div>
    <div class="panel-body">
        <form>
            <div class="form-group">
                <label class="label7">点击统计：</label>
                <input class="form-control" ng-model="data.index.ticketList.tapLog">
            </div>
            <div class="form-group">
                <label class="label7">活动id：</label>
                <input class="form-control" ng-model="data.index.ticketList.activityId">
            </div>
            <div class="form-group">
                <label class="label7">标题：</label>
                <input class="form-control" ng-model="data.index.ticketList.sectionTitle">
            </div>
            <div class="form-group">
                <label class="label7">无特价资源文案：</label>
                <input class="form-control" ng-model="data.index.ticketList.noPro">
            </div>
        </form>
    </div>
</div>
