<div class="panel panel-default">
    <div class="panel-heading">景酒日游</div>
    <div class="panel-body">
        <form>
            <div class="form-group">
                <label class="label7">点击统计：</label>
                <input class="form-control" ng-model="data.index.scenehotelList.tapLog">
            </div>
            <div class="form-group">
                <label class="label7">数据接口：</label>
                <input class="form-control" ng-model="data.index.scenehotelList.url">
            </div>
            <div class="form-group">
                <label class="label7">标题：</label>
                <input class="form-control" ng-model="data.index.scenehotelList.sectionTitle">
            </div>
        </form>
    </div>
</div>
