<div class="panel panel-default">
    <div class="panel-heading">推荐页 - 页脚</div>
    <div class="panel-body">
        <form>
            <div class="form-group">
                <label class="label8">更多好去处 - pbid</label>
                <input class="form-control" ng-model="data.index.recomfooter.linkLogId">
            </div>
            <div class="form-group">
                <label class="label8">更多好去处 - link</label>
                <input class="form-control" ng-model="data.index.recomfooter.back_url">
            </div>
        </form>
    </div>
</div>
