<div class="panel panel-default">
    <div class="panel-heading">商品详情区块</div>
    <div class="panel-body">
        <form>
            <section ng-repeat="item in data.miaosha.detail.productList" class="border">
                <div class="form-group">
                    <label class="label6">活动id：</label>
                    <input class="form-control"  ng-model="item.activity_id" placeholder="这是在mis后台配置的活动的id，直接贴过来">
                </div>
                <div class="form-group">
                    <label class="label6">商品大图：</label>
                    <input class="form-control"  ng-model="item.banner">
                </div>
                <div class="form-group">
                    <label class="label6">主标题：</label>
                    <input class="form-control"  ng-model="item.protitle">
                </div>
                <div class="form-group">
                    <label class="label6">副标题：</label>
                    <input class="form-control"  ng-model="item.subtitle">
                </div>
                <div class="form-group">
                    <label class="label6">顶部标题：</label>
                    <input class="form-control"  ng-model="item.title">
                </div>
                <div class="form-group">
                    <label class="label6">秒杀开始日期：</label>
                    <input class="form-control "  ng-model="item.date" placeholder="2016/2/2">
                </div>
                <div class="form-group">
                    <label class="label6">秒杀开始时间：</label>
                    <input class="form-control  "  ng-model="item.begintime" placeholder="10:00:00">
                </div>
                <div class="form-group">
                    <label class="label6">秒杀结束时间：</label>
                    <input class="form-control "  ng-model="item.endtime" placeholder="10:00:20">
                </div>
                <div class="form-group">
                    <label class="label6">scopeId：</label>
                    <input class="form-control "  ng-model="item.scenicID" placeholder="这个值是景区id，找RD要就行">
                </div>
                <div class="form-group">
                    <label class="label6">商品tid：</label>
                    <input class="form-control"  ng-model="item.tid" placeholder="tid和scopeId不一定相同哦">
                </div>
                <div class="form-group">
                    <label class="label6">ticketId：</label>
                    <input class="form-control "  ng-model="item.ticketId" placeholder="这个值是票id，找RD要就行">
                </div>
                <div class="form-group">
                    <label class="label6">partnerID：</label>
                    <input class="form-control "  ng-model="item.partnerID" placeholder="一般是qunar或者ctrip，找RD确认下就行">
                </div>
                <div class="form-group">
                    <label class="label6">直接购买统计：</label>
                    <input class="form-control "  ng-model="item.lvpos" placeholder="从mis后台新建一个点击，然后贴过来">
                </div>
                <div class="form-group">
                    <label class="label6">活动规则：</label>
                    <textarea class="form-control "  ng-model="item.rules"  style="height: 100px;"></textarea>
                </div>
                <div class="form-group">
                    <label class="label6">商品说明：</label>
                    <textarea class="form-control "  ng-model="item.info"  style="height: 100px;"></textarea>
                </div>
                <button class="btn btn-default" ng-click="removeProductListRow($index)">删除</button>
            </section>
            <button class="btn btn-default" ng-click="addProductListRow()">添加一行</button>
        </form>
    </div>
</div>
