<div class="panel panel-default">
    <div class="panel-heading">推荐页 - 页头</div>
    <div class="panel-body">
        <form>
            <div class="form-group">
                <label class="label6">头图</label>
                <input class="form-control" ng-model="data.index.recomheader.image">
            </div>
            <div class="form-group">
                <label class="label6">头图标题</label>
                <input class="form-control" ng-model="data.index.recomheader.bartitle">
            </div>
            <div class="form-group">
                <label class="label6">头图副标题</label>
                <input class="form-control" ng-model="data.index.recomheader.barsubtitle">
            </div>
            <div class="form-group">
                <label class="label6">头图简介</label>
                <textarea class="form-control" ng-model="data.index.recomheader.brief"></textarea>
            </div>
            <div class="form-group">
                <label class="label6">分享标题</label>
                <input class="form-control" ng-model="data.index.recomheader.sharetitle">
            </div>
            <div class="form-group">
                <label class="label6">分享内容</label>
                <textarea class="form-control" ng-model="data.index.recomheader.shareinfo"></textarea>
            </div>
            <div class="form-group">
                <label class="label6">分享图</label>
                <textarea class="form-control" ng-model="data.index.recomheader.sharepic"></textarea>
            </div>
        </form>
    </div>
</div>
