<div class="panel panel-default">
    <div class="panel-heading">首屏区块</div>
    <div class="panel-body">
        <form>
            <div class="form-group">
                <label class="label6">首屏大图链接：</label>
                <input class="form-control" ng-model="data.index.header.banner">
            </div>
            <div class="form-group">
                <label>
                    <label class="label6">大图宽度：</label>
                    <input class="form-control" ng-model="data.index.header.banner_w">
                </label>
                <label>
                    <label class="label6">大图高度：</label>
                    <input class="form-control" ng-model="data.index.header.banner_h">
                </label>
            </div>
            <div class="form-group">
                <label class="label6">分享标题：</label>
                <input class="form-control" ng-model="data.index.header.sharetitle"/>
            </div>
            <div class="form-group">
                <label class="label6">分享文案：</label>
                <textarea class="form-control" ng-model="data.index.header.shareinfo"></textarea>
            </div>
        </form>
    </div>
</div>
