<div class="panel panel-default">
    <div class="panel-heading">链接</div>
    <div class="panel-body">
        <form>
            <div class="form-group">
                <label class="label6">链接文本：</label>
                <input class="form-control"  ng-model="data.index.link.text">
            </div>
            <div class="form-group">
                <label class="label6">跳转链接：</label>
                <input class="form-control"  ng-model="data.index.link.url">
            </div>
            <div class="form-group">
                <label class="label6">按钮颜色(top)：</label>
                <input class="form-control" type="color" ng-model="data.index.link.color_t">
            </div>
            <div class="form-group">
                <label class="label6">按钮颜色(bottom)：</label>
                <input class="form-control" type="color" ng-model="data.index.link.color_b">
            </div>
            <div class="form-group">
                <label class="label6">点击统计：</label>
                <input class="form-control"  ng-model="data.index.link.taplog">
            </div>
        </form>
    </div>
</div>