<div class="panel panel-default">
    <div class="panel-heading">更多低价</div>
    <div class="panel-body">
        <form>
            <div class="form-group">
                <label class="label10">景点点击 - pbid</label>
                <input class="form-control" ng-model="data.index.guessplay.discountTapLog">
            </div>
            <div class="form-group">
                <label class="label10">更多低价 - pbid</label>
                <input class="form-control" ng-model="data.index.guessplay.moretabLogId">
            </div>
        </form>
    </div>
</div>
