<div class="panel panel-default">
    <div class="panel-heading">底部区块</div>
    <div class="panel-body">
        <form>
            <div class="form-group">
                <label class="label8">查看更多景点统计：</label>
                <input class="form-control "  ng-model="data.index.footer.lvpos" placeholder="这个值，要在mis后台里新建一个，然后贴过来，不麻烦，乖" />
            </div>
            <div class="form-group">
                <label class="label8">活动说明：</label>
                <textarea class="form-control" ng-model="data.index.footer.notice" style="height: 100px;"></textarea>
            </div>
        </form>
    </div>
</div>
