<div class="panel panel-default">
    <div class="panel-heading">首屏区块</div>
    <div class="panel-body">
        <form>
            <div class="form-group">
                <label class="label6">首屏大图链接：</label>
                <input class="form-control" ng-model="data.index.header.banner">
            </div>
            <div class="form-group">
                <label class="label6">导读文案：</label>
                <textarea class="form-control" ng-model="data.index.header.info"></textarea>
            </div>
            <div class="form-group">
                <label class="label6">分享文案：</label>
                <textarea class="form-control" ng-model="data.index.header.shareinfo"></textarea>
            </div>
        </form>
    </div>
</div>
